<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
		<sectionGroup name="imageBoardDatabaseProviders">
			<section name="imageBoardDatabaseProvider" type="ImageboardDatabseProviderConfigSectionHandler"/>
		</sectionGroup>
	</configSections>
	<imageBoardDatabaseProviders>
		<imageBoardDatabaseProvider type="SQLiteProvider.SQLiteBoardDatabaseProvider, SQLiteProvider" resFolder="~/res" connectionString="ImageBoardSqlite" applicationName="ImageBoard"/>
	</imageBoardDatabaseProviders>
	<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="default.aspx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
		<rewrites>
			<!-- нить -->
			<add name="Thread" virtualUrl="~/(\S+)/src/(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/board.aspx?board=$1&amp;thread=$2" ignoreCase="true"/>
			<!-- Cтраницы -->
			<add name="Page" virtualUrl="~/(\S+)/(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/board.aspx?board=$1&amp;page=$2" ignoreCase="true"/>
			<!-- разделы -->
			<add name="BoardDefault" virtualUrl="~/(\S+)/default.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/board.aspx?board=$1" ignoreCase="true"/>
			<add name="Catalog" virtualUrl="~/(\S+)/catalog.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/board.aspx?board=$1&amp;catalog=true" ignoreCase="true"/>
			<add name="Board2" virtualUrl="~/(\S+)/" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/board.aspx?board=$1" ignoreCase="true"/>
		</rewrites>
	</urlrewritingnet>
	<appSettings>
		<!-- Имя сайта -->
		<add key="SiteName" value=""/>
		<!-- Девиз -->
		<add key="SiteSlogan" value="«We build the garlic dungeons,&lt;br /&gt;in deep level C.»"/>
		<!-- Секретный ключ для хэширования данных -->
		<add key="SecretKey" value="34801862055515808416"/>
		<!-- Показ ссылки для входа пользователей -->
		<add key="EnableLoginLink" value="false"/>
		<add key="EnableDefaultLink" value="false"/>
		<add key="EnableFaqLink" value="true"/>
		<add key="EnableNewsLink" value="true"/>
		<add key="EnableRulesLink" value="true"/>
		<add key="EnableTermsLink" value="true"/>
		<!-- Символы капчи -->
		<add key="CartchaChars" value=",.:;§…®©«»±?№~@#$%^&amp;*+-{}[]=&gt;&lt;ЙЦУКЕНГШЩЗХФЫВАПРЛОДЖЭЯЧСМИТЬБЮЪЁ12456789QWRYUSDFGJLZVNM"/>
		<!-- Включение отправки всех новых сообщений на электропочту -->
		<add key="EnableSendNewMessagesToEmail" value="false"/>
		<!-- Адрес электропочты для отправки сведений о новых сообщениях 
		<add key="SendNewMessagesEmailAddress" value="zamabuvaraeu@gmail.com"/>-->
		<add key="SendNewMessagesEmailAddress" value="zamabuvaraeu@mail.ru"/>
    <!-- Тексты кнопки -->
    <add key="CreateNewThreadText" value=""/>
    <add key="AnswerToThreadText" value=""/>
    <!-- Обязательность имени пользователя -->
    <add key="UserNameMustExists" value="False"/>
    <!-- Тема по умолчанию -->
    <add key="DefaultSubject" value="Секс"/>
    <!-- Текст в подвале -->
    <add key="FooterTopText" value="&lt;p class=&quot;footer&quot;&gt;Привет!&lt;/p&gt;"/>
    <add key="FooterText" value="&lt;p class=&quot;footer&quot;&gt;- &lt;a href=&quot;//nemiba.sethi.su&quot;&gt;движок имиджборды «Немиба» 0.4.9.0&lt;/a&gt; + &lt;a href=&quot;//www.sources.ru/asp.net/CaptchaControl.html&quot;&gt;
      элемент управления «Капча»
    &lt;/a&gt; + &lt;a href=&quot;//wakaba.c3.cx/docs/docs.html#WakabaMark&quot;&gt;
      разметка вакабамарк
    &lt;/a&gt; + &lt;a href=&quot;//www.urlrewriting.net/&quot;&gt;urlrewriternet 2.0&lt;/a&gt; -&lt;/p&gt;"/>
    <add key="FooterBottomText" value="&lt;p class=&quot;footer&quot;&gt;Привет!&lt;/p&gt;"/>
    <add key="DefaultLinkText" value="Глагне"/>
    <add key="RulesLinkText" value="Правила"/>
    <add key="FaqLinkText" value="Фак"/>
    <add key="NewsLinkText" value="Горячие новости"/>
    <add key="TermsLinkText" value="Условия пользования"/>
  </appSettings>
	<system.web>
		<webServices>
			<!-- Включение собственного генератора документации для API
      <wsdlHelpGenerator href="api.aspx"/> -->
		</webServices>
		
		<!--<customErrors mode="On" defaultRedirect="~/errors.aspx">
		</customErrors>-->
		
		<httpModules>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
		</httpModules>
		<httpHandlers>
			<!-- Поддержка капчи -->
			<add verb="GET" path="CaptchaImage.aspx" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha"/>
			<add verb="POST" path="CaptchaImage.aspx" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha"/>
		</httpHandlers>
		<compilation debug="true" strict="true" explicit="true" targetFramework="4.0">
		</compilation>
		<!-- Отключение показа версии Asp.net -->
		<httpRuntime enableVersionHeader="false" requestValidationMode="2.0" />
		<!--
			Здесь отключена проверка спецсимволов
			Осторожно! Это может привести к уязвимостям (XSS-атаке)
		-->
		<pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" theme="Photon">
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Generic"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Data"/>
        <add namespace="System.IO"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
				<add namespace="I2P"/>
        <add namespace="I2P.ImageBoard"/>
      </namespaces>
		</pages>
		<!--
			Раздел <authentication> позволяет настроить параметры 
			режима проверки подлинности, используемого ASP.NET для проверки 
			подлинности пользователя, запрашивающего разрешение на доступ. 
		-->
		<authentication mode="Forms">
			<forms name="401kApp" loginUrl="manage.aspx"/>
		</authentication>
		<sessionState mode="InProc"/>
		<!--<sessionState
	 mode="[Off|InProc|StateServer|SQLServer|Custom]"
	 timeout="number of minutes"
	 cookieName="session identifier cookie name"
	 cookieless=
		 "[true|false|AutoDetect|UseCookies|UseUri|UseDeviceProfile]"
	 regenerateExpiredSessionId="[True|False]"
	 sqlConnectionString="sql connection string"
	 sqlCommandTimeout="number of seconds"
	 allowCustomSqlDatabase="[True|False]"
	 useHostingIdentity="[True|False]"
	 stateConnectionString="tcpip=server:port"
	 stateNetworkTimeout="number of seconds"
	 customProvider="custom provider name">
	  <providers>...</providers>
	</sessionState>-->
		<membership defaultProvider="SqliteProvider" userIsOnlineTimeWindow="15">
			<providers>
				<clear/>
				<add name="SqliteProvider" type="SQLiteProvider.SQLiteMembershipProvider, SQLiteProvider" connectionStringName="ImageBoardSqlite" applicationName="ImageBoard" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Clear"/>
			</providers>
		</membership>
		<roleManager enabled="true" cacheRolesInCookie="true" cookieProtection="Validation" defaultProvider="SQLiteRoleProvider">
			<providers>
				<clear/>
				<add applicationName="ImageBoard" connectionStringName="ImageBoardSqlite" name="SQLiteRoleProvider" type="SQLiteProvider.SQLiteRoleProvider, SQLiteProvider"/>
			</providers>
		</roleManager>
		<!--
		<profile defaultProvider="SqlProvider">
			<properties>
				<group name="Preferences">
					<add name="LongDisplayMode" defaultValue="true" type="Boolean" />
					<add name="ShowSummary" defaultValue="true" type="Boolean" />
				</group>
				<group name="Address">
					<add name="Name" type="String" />
					<add name="Street" type="String" />
					<add name="City" type="String" />
					<add name="ZipCode" type="String" />
					<add name="State" type="String" />
					<add name="Country" type="String" />
				</group>
			</properties>
		</profile>
		-->
		<xhtmlConformance mode="Strict"/>
	</system.web>
	<!-- Строки подключения к базе данных   -->
	<connectionStrings>
		<add name="ImageBoardSqlite" connectionString="Data Source = &quot;|DataDirectory|imageboard.sqlite&quot;;Version=3;"/>
	</connectionStrings>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<system.net>
		<mailSettings>
			<!--<smtp from="zamabuvaraeu@mail.ru" deliveryMethod="network">
				<network host="smtp.mail.ru" port="465" password="wtigjsdopfh2jb0a" userName="zamabuvaraeu"/>
			</smtp>-->
			<smtp from="mabu@sethi.su">
				<network host="localhost" port="52123" defaultCredentials="false" password="fjr982nw0qvxsl3aapf4" userName="mabu"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
