.postarea
{
	text-align: center;
}
.postarea table
{
	margin: 0px auto;
	text-align: left;
}
.thumb
{
	border: none;
	float: left;
	margin: 2px 20px;
}
.nothumb
{
	float: left;
	border: 2px dashed #aaa;
	text-align: center;
	margin: 2px 20px;
	padding: 1em 0.5em 1em 0.5em;
}
.reply blockquote, blockquote :last-child
{
	margin-bottom: 0em;
}
.reflink a
{
	color: inherit;
	text-decoration: none;
}
.reflink a:hover
{
	color: #800000;
}
.reply .filesize
{
	margin-left: 20px;
}
.userdelete
{
	float: right;
	text-align: center;
	white-space: nowrap;
}
.replypage .replylink
{
	display: none;
}
.pagelist
{
	max-width: 600px;
}
.spoiler
{
	color: black;
	background-color: black;
}
.monospace
{
	font-family: monospace;
}
.underline
{
	text-decoration: underline;
}
.strike
{
	text-decoration: line-through;
}
.italic
{
	font-style: italic;
}
.bold
{
	font-weight: bold;
}
.blockquote
{
	margin: 2px 20px;
}
.postblock
{
	font-weight: bold;
}
.logo
{
	font-weight: bold;
}
.externallink
{
	background-repeat: no-repeat;
	background-position: right;
}
dl.codebox
{
	padding: 3px;
	border: 1px solid;
}
dl.codebox dt
{
	border-bottom: 1px solid;
	margin-bottom: 3px;
	font-weight: bold;
	display: block;
}
dl.codebox code
{
	overflow: auto;
	display: block;
	height: auto;
	max-height: 200px;
	white-space: normal;
	padding-top: 5px;
	margin: 2px 0;
}
td.topvalign
{
	vertical-align: top;
}
.footer
{
	text-align: center;
	font-size: smaller;
}
h3
{
	text-align: right;
}
rect
{
	stroke: black;
	stroke-width: 3;
	border-radius: 5;
}
td.aside
{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 200px;
    padding: 10px;
}
td.article
{
    position: absolute;
    top: 0px;
    left: 220px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}
td.baseline
{
	vertical-align:bottom;
}
html, body
{
	background: #EEF2FF;
	color: #000000;
}
a
{
	color: #34345C;
	text-decoration: none;
	font-family: sans-serif;
	font-size: smaller;
}
#head
{
	background-color: #D6DAF0;
	border: solid 1px #0F8FE1;
	border-radius: 5px;
	height: 50px;
}
#headlinks a
{
	border-left: dashed #0F8FE1 2px;
	padding: 15px;
}
a:visited
{
	color: #34345C;
	text-decoration: none;
	font-family: sans-serif;
}
a:hover
{
	color: #DD0000;
	text-decoration: underline;
	font-family: sans-serif;
}
.adminbar
{
	text-align: right;
	background: inherit;
	clear: both;
	float: right;
}
.logo
{
	background: inherit;
	color: #AF0A0F;
}
.theader
{
	background: #0010E0;
	color: #FFFFFF;
	width: 100%;
	text-align: center;
}
.postarea
{
	background: inherit;
}
.rules
{
	font-size: smaller;
	font-family: sans-serif;
}
.postblock
{
	background: #9988EE;
	color: #000000;
	font-weight: 800;
}
.passvalid
{
	background: #9988EE;
	text-align: center;
	width: 100%;
	color: #ffffff;
}
.dellist
{
	background: inherit;
	text-align: center;
}
.delbuttons
{
	background: inherit;
	text-align: center;
	padding-bottom: 4px;
}
.postlists
{
	background: #FFFFFF;
	width: 100%;
	padding: 0px;
	color: #000000;
}
.unkfunc
{
	color: #789922;
}
.filesize
{
	font-family: sans-serif;
	padding-left: 3em;
}
.filetitle
{
	background: inherit;
	font-size: larger;
	font-family: serif;
	color: #0F0C5D;
	font-weight: 800;
}
.postername
{
	background: inherit;
	font-family: serif;
	color: #117743;
	font-weight: 800;
}
.oldpost
{
	background: inherit;
	font-size: larger;
	font-family: serif;
	color: #0F0C5D;
	font-weight: 800;
}
.omittedposts
{
	background: inherit;
	font-size: larger;
	font-family: serif;
	color: #070707;
	font-style: italic;
}
.reply
{
	background: #D6DAF0;
	color: #000000;
	font-family: serif;
}
.doubledash
{
	vertical-align: top;
	clear: both;
	float: left;
}
.replytitle
{
	background: inherit;
	font-size: larger;
	font-family: serif;
	color: #0F0C5D;
	font-weight: 800;
}
.commentpostername
{
	background: inherit;
	font-family: serif;
	color: #117743;
	font-weight: 800;
}
.thumbnailmsg
{
	background: inherit;
	font-size: smaller;
	font-family: sans-serif;
	color: #000000;
}
span.spoiler
{
	background: #9988EE;
	color: #9988EE;
}
span.spoiler:hover
{
	background: #9988EE;
	color: #000000;
}
span.mod
{
	color: #0010E0;
}
.highlight
{
	border: 2px dashed #0010E0;
}
.postertrip
{
	color: #789922;
}
#title
{
	font-size: larger;
}
.filesize img[alt="edit"]
{
	border: 0 none;
}
.fileblock
{
    display: inline-block;
    float: left;
    margin-right: 1em;
}
.NavHorizontal
{
    margin: 0.2em 0.2em 0.2em 0.2em;
}